<h2>Recent Posts</h2>
<section id="recentPosts" style="flex-direction: row; flex-wrap: wrap; display: flex;">
    {% for post in include.posts limit:10 %}
    {% if page.url contains "http" %}
        {% assign domain = '' %}
        {% elsif page.url contains "mailto" %}
            {% assign domain = '' %}
        {% else %}
            {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        <div style="border: 1px DodgerBlue; padding: 10px; width:300px;">    
            <a href="{{domain}}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%Y-%m-%d" }})<br />
            <img src="{{site.url}}{{post.featuredImage }}" alt="" />
        </div>
    {% endfor %}
    </section>