---
---

:where(h1, h2, nav) {
    font-family: "Pacifico", cursive;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2e7bcf;
    background-image: url(/assets/images/stained-glass-sunflowers-field-cropped.jpeg);    
    background-size: cover;
    background-origin: border-box;
    border-bottom: solid 1px #275da1;
    width: auto;
}

header h1 {
    width: 540px;
    margin-top: 0;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px
}

header h2 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    color: #9ddcff;
    letter-spacing: 0
}

aside#sidebar {
    float: right;
    width: 200px;
    min-height: 504px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 1.3;
    background: transparent 0 0 no-repeat
}

@media screen and (max-width: 925px) {
  aside#sidebar {
    float: none;
  }
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    outline: 1px solid lemonchiffon;
    border-radius:  5px;
}

nav ul {
    display: flex;
}

nav ul li {
    flex-direction: row;;
    background-color: lightblue;
    font-weight: bold;
    font-size: large;
    border-radius:  5px;
    list-style: none;
    width: auto;
    padding: 5px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    outline: 1px solid DodgerBlue;
}

nav ul li a {
    color: darkslateblue;
}

:where(.site-title, .tagline) {
    display: block !important;
    background-color: lemonchiffon;
    width: auto;
    text-align: center;
    font-weight: bold;
    color: dodgerblue !important;
    padding: 5px;
    width: auto !important;
}

.site-title {
    font-size: 32px !important;
}

a h1 {
    color: dodgerblue !important;
}

.post-title {
    border-bottom: 1px solid black;
}

:where(summary) {
    list-style-position: outside;
    display: list-item;
}

.card {
    border: 1px lemonchiffon outset;
    outline: dodgerblue 4px inset;
    padding: 10px; 
    width:300px;
    margin: 10px;
}

.postContainer {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-content: flex-start;
}

@media screen and (max-width: 500px) {
  .postContainer {
    flex-direction: column;
  }
}

p {
    word-break: keep-all;
    white-space: normal;
}

.search {
    display: block;
    height: 30px !important;
}

#search-input {
    padding: 10px;
    width: 100%;
    border: 2px dodgerblue solid;
}

:where(input[type="search"]) {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    height: 100px;
}

.main-content hr {
    line-height: 5px;
}

.inner {
    position: relative;
    width: 940px;
    margin: 0 auto
}

#main-content {
    float: left;
    width: 690px
}

#main-content img {
    max-width: 100%
}

#content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 30px;
    border-top: solid 1px #fff
}