---
---

@import "{{ site.theme }}";

header {
    background-image: url("../images/stained-glass-sunflowers-field.jpeg");
    background-position: 50% 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    outline: 1px solid lemonchiffon;
    border-radius:  5px;
}

nav ul {
    display: flex;
}

nav ul li {
    flex-direction: row;;
    background-color: lightblue;
    font-weight: bold;
    font-size: large;
    border-radius:  5px;
    list-style: none;
    width: auto;
    padding: 5px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    outline: 1px solid DodgerBlue;
}

nav ul li a {
    color: darkslateblue;
}

.site-title {
    background-color: lemonchiffon;
    border-radius: 5px;
    text-align: center;
    width: auto;
    padding: 10px;
}

.tagline {
    background-color: lemonchiffon;
    width: auto;
    text-align: center;
    font-weight: bold;
    color: dodgerblue;
    padding: 5px;
}

a h1 {
    color: dodgerblue !important;
}

.post-title {
    border-bottom: 1px solid black;
}