<h2>Recent Posts</h2>
<section id="recentPosts" class="postContainer">
    {% for post in include.posts limit:10 %}
    {% if page.url contains "http" %}
        {% assign domain = '' %}
        {% elsif page.url contains "mailto" %}
            {% assign domain = '' %}
        {% else %}
            {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        <div class="card">    
            <a href="{{domain}}{{ post.url }}">{{ post.title }}</a><br />({{ post.date | date: "%Y-%m-%d" }})<br />
            {% if post.featuredImage %}
                <img src="{{site.url}}{{post.featuredImage }}" alt="" />
            {% endif %}

        </div>
    {% endfor %}
    </section>