{% capture search_placeholder %}{% include search_placeholder_custom.html %}{% endcapture %}
<h2>Search</h2>
<p>As you start to type, results will pop-up.</p>
<div class="search" role="search">
    <div class="search-input-wrap">
        <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="{{ search_placeholder | strip_html | strip }}" aria-label="{{ search_placeholder | strip_html| strip }}" autocomplete="off">
    </div>
    <div id="search-results" class="search-results"></div>
</div>